@font-face {
    font-family: Roboto;
    src: url(./Fonts/Roboto/Roboto-Regular.ttf);
}

* {
    font-family: Roboto;
}

body {
    background-color: #f0effc;
}

#container {
    margin: auto;
    padding: 100px 100px;
}

.form-box {
    display: flex;
    justify-content: space-between;
}

#title {
    color: #beb3d7;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
}

#files {
    width: 400px;
    align-items: center;
    justify-content: center;
    padding: 50px;
    z-index: 2;
    opacity: 0;
}

#files_background {
    background-color: #ddddf3;
    border-radius: 25px;
    width: 500px;
    height: 100px;
    position: absolute;
    top: 340px;
}

#fake_button {
    position: absolute;
    background-color: #9b00ff;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    color: white;
    border-style: none;
    top: 365px;
    left: 255px;
}

#text_middle {
    text-align: center;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.titles {
    color: #42166a;
    font-size: 23px;
}

label {
    color: #544c69;
    margin-top: 10px;
}

#fee_label {
    margin-top: 30px;
}

p {
    color: #544c69;
    font-size: 15px;
    margin-top: 5px;
}

input {
    background-color: transparent;
    border-bottom-color: #e0dbf5;
    border-top: transparent;
    border-left: transparent;
    padding-bottom: 20px;
    color: #42166a;
    font-weight: bold;
    font-size: 20px;
}

input:focus {
    outline: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border-bottom-color: #e0dbf5;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-width: 2px;
    color: #42166a;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 20px;
    margin-top: 15px;
}

select:focus {
    outline: none;
}

#after::after {
    content: "";
    display: block;
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ff00a0;
    right: 120px;
    top: 220px;
    z-index: -1;
}

#fee {
    margin-top: 15px;
}

.components {
    display: flex;
    flex-direction: column;
    width: 500px;
}

#proceed {
    width: 400px;
    height: 50px;
    background-color: #ff00a0;
    color: white;
    border-radius: 30px;
    border-style: none;
    font-size: 15px;
    font-weight: bold;
}

#anotherButton {
    width: 300px;
    height: 50px;
    background-color: #ff00a0;
    color: white;
    border-radius: 30px;
    border-style: none;
    font-size: 15px;
    font-weight: bold;
}

#thankYou {
    color: #42166a;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#containerDiv {
    display: flex;
    justify-content: center;
    height: 150px;
}

#titleDiv {
    flex-basis: 66.66%;
    background-color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: 1px solid #f0effc;
    display: flex;
    align-items: center;
}

#categoryDiv {
    flex-basis: 33.33%;
    background-color: #fbfbfb;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: 1px solid #f0effc;
    display: flex;
    justify-content: center;
    align-items: center;
}

#image {
    width: 90px;
    height: 90px;
    border-radius: 15px;
    margin: 20px;
}

#yourTitle {
    color: #42166a;
    font-size: 25px;
    margin-top: -15px;
}

#feeValue {
    color: #ff00a0;
    font-weight: bold;
    display: inline;
    font-size: 20px;
}

.categoryStyle {
    color: #42166a;
    font-size: 18px;
}